ellipsis()
  display: block
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
ellipsis2()
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 2
  overflow: hidden;
$white = #fff
$black = #222
$default = #22d3cd
$common = #aeb1bf
// flex()
  // display: flex
// around()
  // justify-content: space-around